# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Python build
build/
dist/
*.egg-info/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files
*.pkl
*.joblib
*.h5

# Saved models
saved_models/

# Jupyter Notebook
.ipynb_checkpoints/